* {
  font-size:16px; 
}

:root:before {
  content: url(/images/phoneback.png);
  visibility: hidden;
  position: absolute;
  left: -999em;
}

audio{
  display:none; 
}

body{
  background:black;
}

.announcement-container{
  margin-top: 50px;
}

.announcement {
  color: #ffcaa9;
    font-size: 1.4em;
    line-height: 2.2em;
  text-align: center;
  opacity: 0;
  transition: opacity 1.65s linear;
  font-family: 'Pacifico', cursive;
}

