* {
  font-size:16px; 
}

body{
  background:black;
}

.announcement-container{
  margin-top: 50px;
}

.announcement {
  color: white;
  font-size: 1.5em;
  line-height: 1.8em;
  text-align: center;
  opacity: 0;
  transition: opacity .5s linear;
  font-family: 'Pacifico', cursive;
}

